<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <meta http-equiv="Content-Language" content="ru"/> 
        {% block addmeta %}{% endblock %}
        <link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}bootstrap/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" />
        <script src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js"></script>
        <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>
        {% block addjscss %}{% endblock addjscss %}
        <script src="{{ MEDIA_URL }}js/main.js"></script> 
        <title>LicenseDB - {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block pagejs %}{% endblock pagejs %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">LicenseDB</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="/"><i class="icon-home icon-white"></i>
                    Главная</a></li>
                  <li><a href="#about"><i class="icon-book icon-white"></i>
                    О ресурсе</a></li>
                  <li><a href="#contact"><i class="icon-envelope icon-white"></i>
                    Контакты</a></li>
                  <li class="divider-vertical"></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="icon-tags icon-white"></i>
                      Другие ресурсы<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="http://www.apingtu.edu.ru/" target="_blank">Сайт АПИ НГТУ</a></li>
                        <li><a href="http://www.apingtu.edu.ru/index.php?option=com_content&task=view&id=272&Itemid=32" target="_blank">Расписание студентов</a></li>
                        <li><a href="http://rasp.apingtu.edu.ru/" target="_blank">Расписание преподавателей</a></li>
                      </ul>
                  </li>
                </ul>
                <form class="navbar-search pull-left" method="POST" action="/programs/">
                    {% csrf_token %}{{ form.management_form }}
                    <!-- <i class="icon-search icon-white"></i> -->
                    <input type="text" class="search-query" name="progsearch" placeholder="Поиск программ…">
                </form>
                {% if user.is_authenticated %}
                  <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                        <i class="icon-user icon-white"></i>
                        {{ user.first_name  }}
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/accounts/settings/"  title="изменить личные данные">профиль</a></li>
                        <li><a href="#"  title="ключи">ключи</a></li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout/" title="Выйти">выйти</a></li>
                      </ul>
                    </li>
                  </ul>
                {% else %}
                  <p class="navbar-text pull-right">
                    <a href="/accounts/login/" title="Выполнить вход">Вы не авторизованы</a>
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>    
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span3">
              <div class="well sidebar-nav">
                <ul class="nav nav-list">
                  <li class="nav-header">Лицензии</li>
                  <!-- <li class="active"><a href="#">Link</a></li> -->
                  <li><a href="/licenses/">Все</a></li>
                  <li><a href="/licenses/?free=0">Коммерческие</a></li>
                  <li><a href="/licenses/?free=1">Свободные</a></li>
                  <li class="nav-header">Программное обеспечение</li>
                  <li><a href="/programs/">Всё</a></li>
                  <li><a href="/programs/nostud/">Для ВУЗа</a></li>
                  <li><a href="/programs/stud/">Для студентов</a></li>
                  {% if user.is_authenticated %}
                    <li class="nav-header">Ключи</li>
                    <li><a href="/keys/">Все</a></li>
                    <li><a href="#">Добавить</a></li>
                    <li><a href="#">Выдать студентам</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="span9">
              <div class="container-fluid">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>     
        <hr>
        <footer>
          <p>&copy; АПИ НГТУ 2012</p>
        </footer>
    </div>
    </body>
</html>