{% load keytags %}
<div class="row-fluid">
  <div class="span12">
    {% if num_pages > 1 %}
    <!-- навигация -->
    <div class="row-fluid">
      <div class="span12">
        <div class="pagination pagination-centered">
          <ul>
            {% if clients.has_previous %}
              <li>
                <a href="javascript:obj_search({{ clients.previous_page_number }}, 'client');">&laquo;</a>
              </li>
            {% else %}
              <li class="disabled"><a href="#">&laquo;</a>  </li>
            {% endif %}
            {% for p in page_range %}
              {% if p %}
                {% if p == clients.number %}
                  <li class="active">
                    <a href="#">{{ p }}</a>
                  </li>
                {% else %}
                  <li>
                    <a href="javascript:obj_search({{ p }}, 'client');">{{ p }}</a>
                  </li>
                {% endif %}
              {% else %}
                <li class="disabled"><a href="#">...</a></li>
              {% endif %}
            {% endfor %}
            {% if clients.has_next %}
              <li>
                <a href="javascript:obj_search({{ clients.next_page_number }}, 'client');">&raquo;</a>
              </li>
            {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  </div>
</div>
<!-- вывод данных -->
<div class="row-fluid">
  <div class="span12">
    {% if clients.object_list %}
      <p>
        Найдено <b>{{ obj_count }}</b> совпадений.
        Записи <b>{{ clients.start_index }} &ndash; {{ clients.end_index }}</b>
        на странице <b>{{ clients.number }}</b> из <b>{{ clients.paginator.num_pages }}</b>.
      </p>
      <div class="row-fluid">
        <div class="span12">
        <table class="table table-striped">
          <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Студент</th>
            <th>Программа</th>
            <th>Кол-во</th>
            <th width="110px">Дата выдачи</th>
            <th>Примечание</th>
            <th width="105px"></th>
          </tr>
        {% for client in clients.object_list %}
          <tr>
            <td>{{ forloop.counter|add:srart }}</td>
            <td>{{ client.name }}</td>
            <td>
              {% if client.student %}
                <i class="icon-ok"></i>
              {% else %}
                <i class="icon-minus"></i>
              {% endif %}
            </td>
            <td><a href="/program/{{ client.key.program_id }}">{{ client.key.program.name }}</a></td>
            <td>{{ client.manyuse }}</td>
            <td>{{ client.date_start|date:"d.m.Y" }}</td>
            <td>{{ client.comment }}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-list-alt icon-white"></i>
                    действие
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:change_client({{ client.id }}, {{ clients.number }})" title="Правка">
                            <i class="icon-pencil"></i>
                            правка
                        </a>
                    </li>
                    <li>
                        <a href="/client/delete/{{ client.id }}/?p={{ clients.number }}{{ urlsearch }}" title="Удаление">
                            <i class="icon-trash"></i>
                            Удаление
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/key/{{ client.key_id }}" title="">
                            <i class="icon-info-sign"></i>
                            О ключе
                        </a>
                    </li>
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
        </table>
        </div>
      </div>
    {% else %}
      <p>По заданному  критерию поиска пользователи не найдены.</p>
    {% endif %}
  </div>
</div>
{% comment %}
  modal windows
{% endcomment %}
<div class="modal fade hide" id="winmodal"></div>
