{% extends "base.html" %}
{% load keytags %}
{% block addjscss %}
  <script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-modal.js"></script>
  <link rel="stylesheet" href="{{ MEDIA_URL }}ui/css/smoothness/jquery-ui-1.8.21.custom.css" type="text/css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}ui/jquery-ui-1.8.21.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}ui/jquery.ui.datepicker-ru.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    obj_search(1, 'client');
})
</script>
{% endblock addjscss %}
{% block title %}Пользователи{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
    <h1>Поиск пользователей</h1>
    <p>Данные о пользователях можно искать по совпадению с частью имени, ключа или названия программы.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <form class="well form-search" action="javascript:obj_search(1, 'client');">
      {% csrf_token %}{{ form.management_form }}
      <input type="text" class="search-query" id="seachtemplate"
      name="search" placeholder="строка поиска...">
      <button type="submit" class="btn">Найти</button>
    </form>
  </div>
</div>
<div class="row-fluid" id="result"></div>
{% endblock content %}
