{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>LicenseDB</h1>
    <p>Добро пожаловать! <br>Данный инструмент позволяет легко и быстро управлять используемым программный обеспечением, получать тексты лицензионных соглашений, добавлять и удалять активационные ключи/файлы.</p>
</div>
<div class="well container-fluid">
    <!-- <h1>Добро пожаловать</h1> -->
    <p>
        <strong>Лицензия на программное обеспечение</strong> &mdash; это правовой инструмент, определяющий использование и распространение программного обеспечения, защищённого авторским правом [<a href="http://ru.wikipedia.org" title="Перейти на сайт Википедии" target="_blank">Википедия</a>].
    </p>
    <p>
        <strong>Программное обеспечение (ПО)</strong> &mdash; совокупность программ системы обработки информации и программных документов, необходимых для эксплуатации этих программ (ГОСТ 19781-90).
    </p>
    <p>
        <strong>Лицензионный (активационный) ключ</strong> &mdash; набор символов, необходимый для снятия функциональных ограничений с программы. Аналогичный образом используется активационный файл.  
    </p>
    </div>
    <div class="row-fluid">
        <div class="span4">
          <h2>Лицензии</h2>
          <p>Информация об используемых лицензий, тексты пользовательских соглашений.</p>
          <p><a class="btn" href="/license/">Подробнее &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Программы</h2>
          <p>Данные об используемом программном обеспечении, информация о производителе.</p>
          <p><a class="btn" href="#">Подробнее &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Ключи</h2>
          <p>Ключевые файлы, серийные номера для активации программ.</p>
          <p><a class="btn" href="#">Подробнее &raquo;</a></p>
        </div>
        <div class="span10">
            <table class="table table-striped">
                <caption><em>Статистика использования коммерческого программного обеспечения</em></caption>
                <tr>
                    <th>№</th>
                    <th>Программное обеспечение</th>
                    <th>Общее количество лицензий</th>
                    <th>Использовано</th>
                </tr>
                {% for stat in statistics %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ stat.program }}</td>
                        <td>{{ stat.all }}</td>
                        <td>{{ stat.use }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}