{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>LicenseDB</h1>
    <p>Добро пожаловать! <br>Данный инструмент позволяет легко и быстро управлять используемым программный обеспечением, получать тексты лицензионных соглашений, добавлять и удалять активационные ключи/файлы.</p>
</div>
    <div class="row-fluid">
        <div class="span4">
          <h2>Лицензии</h2>
          <p>Информация об используемых лицензий, тексты пользовательских соглашений.</p>
          <p><a class="btn btn-primary" href="/licenses/">Подробнее &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Программы</h2>
          <p>Данные об используемом программном обеспечении, информация о производителе.</p>
          <p><a class="btn btn-primary" href="/programs/">Подробнее &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Ключи</h2>
          <p>Ключевые файлы, серийные номера для активации программ.</p>
          <p><a class="btn btn-primary" href="/keys/">Подробнее &raquo;</a></p>
        </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <br />
        <center><h4>Статистика использования коммерческого программного обеспечения</h4></center>
        <br />
        <table class="table table-striped">
          <tr>
            <th>№</th>
            <th>Программное обеспечение</th>
            <th>Общее количество лицензий</th>
            <th>Использовано</th>
          </tr>
          {% for stat in statistics %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ stat.program }}</td>
              <td>{{ stat.all }}</td>
              <td>{{ stat.use }}</td>
            </tr>
          {% endfor %}
      </table>
      </div>
    </div>
{% endblock %}