{% extends "base.html" %}
{% load keytags %}

{% block addjscss %}
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-popover.js"></script>
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-modal.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}ui/css/smoothness/jquery-ui-1.8.21.custom.css" type="text/css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}ui/jquery-ui-1.8.21.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}ui/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  obj_search(1, 'key');
})
</script>
{% endblock addjscss %}

{% block title %}Поиск ключей{% endblock %}

{% block content %}
  <h1>
    Поиск ключей
    {% if type %}
      <span class="label">{{ type }}</span>
    {% endif %}
  </h1>
  <div class="row-fluid">
    <div class="span12">
      <p>Данные о ключах можно искать по совпадению с частью ключа или названия программы.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <form class="well form-search" action="javascript:obj_search(1, 'key')">
        {% csrf_token %}{{ form.management_form }}
        <input type="text" class="search-query" id="seachtemplate"
        name="progsearch" placeholder="строка поиска..." value="{{ searchtext }}">
        <button type="submit" class="btn">Найти</button>
      </form>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12" id="result">
      <p>Для получения резутат укажите сроку для поиска и нажмите кнопку &laquo;Найти&raquo;.</p>
    </div>
  </div>
{% endblock content %}