{% extends "base.html" %}
{% load widget_tweaks %}
{% load keytags %}
{% block title %}Ключи{% endblock %}

{% block addjscss %}
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-popover.js"></script>
<script src="{{ MEDIA_URL }}bootstrap/js/bootstrap-modal.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}ui/css/smoothness/jquery-ui-1.8.21.custom.css" type="text/css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}ui/jquery-ui-1.8.21.custom.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}ui/jquery.ui.datepicker-ru.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  key_update_view();
  $('#id_programma').change(key_update_view);
  $('#id_onlyfree').change(key_update_view);
})
</script>
{% endblock addjscss %}

{% block content %}
  <div class="row-fluid">
    <div class="span10">
      <h1>Ключи для программного обеспечения</h1>
      <p>
        <strong>Лицензионный (активационный) ключ</strong> &mdash; набор символов, необходимый для снятия функциональных ограничений с программы. Аналогичный образом используется активационный файл.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <form class="form-inline well">
      {% csrf_token %}{{ form.management_form }}
        <label for="id_programma">{{ form.programma.label }}</label>
        {{ form.programma }}
        <label class="checkbox">
          {{ form.onlyfree }}
          {{ form.onlyfree.label }}
        </label>
      </form>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <p>
        <a class="btn btn-success" href="/key/add/" title="Добавление ключа">
          <i class="icon-plus icon-white"></i>
          Добавить
        </a>
      </p>
    </div>
    <div class="span10" id="statistics"></div>
  </div>
  <div class="row-fluid">
    <div class="span12" id='result'>
      <!-- content -->
    </div>
  </div>
{% endblock content %}