{% extends "base.html" %}
{% load widget_tweaks %}
{% load keytags %}
{% block title %}Ключи{% endblock %}

{% block addjscss %}
<script type="text/javascript">
$(document).ready(function() {
    update_view_keys('#keycontent', $('#id_programma').val());
    $('#id_programma').change(function() {
        // alert('val=' + $('#id_programma').val());
        update_view_keys('#keycontent', $('#id_programma').val());
    });
})
</script>
{% endblock addjscss %}

{% block content %}
    <h1>
        Ключи для программного обеспечения
        {% if type %}
            <span class="label">{{ type }}</span>
        {% endif %}
    </h1>
    <div class="row-fluid">
        <div class="span12">
            <p>
                <strong>Лицензионный (активационный) ключ</strong> &mdash; набор символов, необходимый для снятия функциональных ограничений с программы. Аналогичный образом используется активационный файл.
            </p>
        </div>
    </div>
    {% comment %}
        список программ (с возможностью выбора всех)
        ключи к программам
    {% endcomment %}
    <div class="row-fluid">
        <div class="span12">
            <form class="form-horizontal">
            {% csrf_token %}{{ form.management_form }}
                <div class="control-group">
                <label class="control-label" for="id_programma">Программа</label>
                    <div class="controls">
                        {{ form.programma|add_class:"span3" }}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span12" id='keycontent'>
            <!-- <div id='keycontent'></div> -->
        </div>
    </div>
{% endblock content %}