{% load keytags %}
{% if num_pages > 1 %}
  <!-- навигация -->
  <div class="row-fluid">
    <div class="span12">
      <div class="pagination pagination-centered">
        <ul>
          {% if keys.has_previous %}
            <li>
              <a href="javascript:obj_search({{ keys.previous_page_number }}, 'key')">&laquo;</a>
            </li>
          {% else %}
            <li class="disabled"><a href="#">&laquo;</a>  </li>
          {% endif %}
          {% for p in page_range %}
            {% if p %}
              {% if p == keys.number %}
                <li class="active">
                  <a href="#">{{ p }}</a>
                </li>
              {% else %}
                <li>
                  <a href="javascript:obj_search({{ p }}, 'key')">{{ p }}</a>
                </li>
              {% endif %}
            {% else %}
              <li class="disabled"><a href="#">...</a></li>
            {% endif %}
          {% endfor %}
          {% if keys.has_next %}
            <li>
              <a href="javascript:obj_search({{ keys.next_page_number }}, 'key')">&raquo;</a>
            </li>
          {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
<!-- вывод данных -->
<div class="row-fluid">
  <div class="span12">
    {% if keys.object_list %}
      <p>
        По заданному критерию поиска найдено <b>{{ obj_count }}</b> ключа.
        Записи <b>{{ keys.start_index }} &ndash; {{ keys.end_index }}</b>
        на странице <b>{{ keys.number }}</b> из <b>{{ keys.paginator.num_pages }}</b>.
      </p>
      {% for key in keys.object_list %}
        <div class="row-fluid">
          <div class="well span12">
            <div class="row-fluid">
              <div class="span8">
                <strong>#{{ forloop.counter|add:srart }}</strong>
                {% if key.use %}
                  <a class="btn btn-mini btn-inverse" href="/key/{{ key.id }}" rel="popover" 
                    data-original-title="Ключ используется ({{ key.use }})"
                    data-content="{{ key.clients }}">
                    используется
                  </a>
                {% else %}
                  <a class="btn btn-mini btn-warning" href="/key/{{ key.id }}" rel="popover" 
                    data-original-title="Ключ доступен" data-content="ключ доступен для использования.">
                    доступен
                  </a>
                {% endif %}
                {{ key.program.name }}
              </div>
              <div class="span4">
                <span class="pull-right">
                  <a class="btn btn-mini btn-primary" href="/key/edit/{{ key.id }}" title="отредактировать ключ">
                    <i class="icon-pencil icon-white"></i>
                    правка
                  </a>
                  <a class="btn btn-mini btn-danger" 
                    href="javascript:delkey_home({{ keys.number }}, {{ key.id }}, 1)" title="удалить ключ">
                    <i class="icon-trash icon-white"></i>
                    удалить
                  </a>
                </span>
              </div>
            </div>
            <div class="row-fluid">
              <table class="table table-condensed">
                <tr>
                  <td width="40%"><strong>Ключ:</strong> {{ key.key|default:"нет" }}</td>
                  <td><strong>Дата начала:</strong> {{ key.date_start }}</td>
                </tr>
                <tr>
                  <td>
                    <strong>Файл:</strong>
                    {% if key.attach %}
                      <a href="/key/download/{{ key.id }}" title="{{ key.attach.name|keyname }}">
                        {{ key.attach.name|keyname }}, {{ key.attach.size|filesizeformat }}
                      </a>
                    {% else %}
                      нет
                    {% endif %}
                  </td>
                  <td><strong>Дата окончания:</strong> {{ key.date_end|default:"нет" }}</td>
                </tr>
                <tr>
                  <td><strong>Сетевой:</strong> {{ key.net|yesno }}</td>
                  <td><strong>Количество рабочих мест:
                  </strong> {{ key.client_count }} из {{ key.manyuse|keyuse|safe }}
                  </td>
                </tr>
                <tr>
                  <td colspan="2"><em>{{ key.comment }}</em></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>По заданному  критерию поиска ключи не найдены.</p>
    {% endif %}
  </div>
</div>
<script>
  $("a[rel=popover]").popover();
</script>
