{% load keytags %}
<span class="span12">
{% if keys %}
    <p>
        <strong>Лицензионный (активационный) ключ</strong> &mdash; набор символов, необходимый для снятия функциональных ограничений с программы. Аналогичный образом используется активационный файл.  
    </p>
    <table class="table table-striped">
        <tr>
            <th>№</th>
            <th>Серийный номер</th>
            <th>Сетевой</th>
            <th>Количество использований</th>
            <th>Используется</th>
            <th>Начало</th>
            <th>Окончание</th>
            <th>загрузка/управления</th>
        </tr>
        {% for key in keys %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ key.key|default:"<small>нет</small>" }}</td>
            <td>
                {% if key.net %}
                    <i class="icon-ok"></i>
                {% else %}
                    <i class="icon-minus"></i>
                {% endif %}
            </td>
            <td>{{ key.manyuse|default:"нет ограничений" }}</td>
            <td>
                {% if key.use %}
                    <i class="icon-ok"></i>
                {% else %}
                    <i class="icon-minus"></i>
                {% endif %}
            </td>
            <td>{{ key.date_start }}</td>
            <td>{{ key.date_end|default:'<i class="icon-minus"></i>' }}</td>
            <td>
                <a class="btn btn-primary" href="/key/edit/{{ key.id }}" title="Правка">
                    <i class="icon-pencil icon-white"></i>
                </a>
                <a class="btn btn-danger" 
                    href="javascript:delkey({{ prog }}, '#keylist', {{ key.id }})" 
                    title="Удаление">
                    <i class="icon-trash icon-white"></i>
                </a>
                {% if key.attach %}
                    <a class="btn btn-inverse" href="/key/download/{{ key.id }}" target="_blank"
                        title="{{ key.attach.name|keyname:"keys/" }}, {{ key.attach.size|filesizeformat }}">
                        <i class="icon-download-alt icon-white"></i>
                    </a>
                    {# {{ key.attach.name|keyname:"keys/" }} {{ key.attach.size|filesizeformat }} #}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    Данные о ключах отсутствуют.
{% endif %}
</span>