{% extends "base.html" %}
{% load keytags %}
{% block title %}Лицензии{% endblock %}

{% block content %}
  <h1>
    Лицензии на программное обеспечение
    {% if type %}
      <span class="label">{{ type }}</span>
    {% endif %}
  </h1>
  <div class="row-fluid">
    <div class="span12">
      <p>
        <strong>Лицензия на программное обеспечение</strong> &mdash; это правовой инструмент, определяющий использование и распространение программного обеспечения, защищённого авторским правом [<a href="http://ru.wikipedia.org" title="Перейти на сайт Википедии" target="_blank">Википедия</a>].
      </p>
    </div>
  </div>
  {% if user.is_authenticated %}
    <div class="row-fluid">
      <div class="span12">
        <p>
          <a class="btn btn-success" href="/license/add/" title="Добавление">
            <i class="icon-plus icon-white"></i>
            Добавить
          </a>
        </p>
      </div>
    </div>
  {% endif %}
  {% for license in object_list %}
    {% cycle '<div class="row">' '' %}
    <div class="well span3">
      <h2>{{ license.name }}</h2>
      <span class="label label-info">{{ license.free|free }}</span>
      <p>
        <strong>Сайт:</strong>
        {% if license.url %}
          {{ license.url|urlizetrunc:35 }}
        {% else %}
          <small>нет</small>
        {% endif %}
      </p>
      <p>
        <strong>Файл:</strong>
        {% if license.attach %}
          <a href="{{ license.attach.url }}">загрузить</a>
        {% else %}
          <small>нет</small>
        {% endif %}
      </p>
      <p>
        <a class="btn" href="/license/{{ license.id }}">Подробнее &raquo;</a>
        {% comment %}
          правка данных
        {% endcomment %}
        {% if user.is_authenticated %}
          <a class="btn btn-primary" href="/license/edit/{{ license.id }}" title="Правка">
            <i class="icon-pencil icon-white"></i>
          </a>
          <a class="btn btn-danger" href="/license/delete/{{ license.id }}" title="Удаление" onclick="return confirm('Вы действительно хотите удалить лицензию?');">
            <i class="icon-trash icon-white"></i>
          </a>
        {% endif %}
      </p>
    </div>
    {% cycle '' '</div>' %}
  {% endfor %}
{% endblock content %}