{% extends "base.html" %}
{% load keytags %}
{% block title %}Данные о лицензии ({{ result.name }}){% endblock %}

{% block content %}
    <h1>{{ result.name }}
        <span class="label label-info">{{ result.free|free }}</span>
    </h1>
    <br>
    <div class="row-fluid">
        <div class="span10">
            <p>
                <strong>Сайт:</strong>
                {% if result.url %}
                    {{ result.url|urlizetrunc:50 }}
                {% else %}
                    <small>нет</small>
                {% endif %}
            </p>
            <p>
                <strong>Файл:</strong>
                {% if result.attach %}
                    <a href="{{ result.attach.url }}">
                        {{ result.attach.name|cut:"license/" }} 
                        ({{ result.attach.size|filesizeformat }})
                    </a>
                {% else %}
                    <small>нет</small>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <a class="btn btn-warning" href="/programs/{{ result.id }}" title="Список программ">
                <i class="icon-folder-open icon-white"></i> Программы
            </a>
            <a class="btn btn-primary" href="/license/edit/{{ result.id }}" title="Правка">
                <i class="icon-pencil icon-white"></i> Правка
            </a>
            <a class="btn btn-danger" href="/license/delete/{{ result.id }}" title="Удаление" onclick="return confirm('Вы действительно хотите удалить лицензию?');">
                <i class="icon-trash icon-white"></i> Удаление
            </a>
        </div>
        <div class="span5">
            <p align="right">
                <small>
                создано <em>{{ result.created|date:"d.m.Y H:i:s" }}</em>
                {% ifnotequal result.created|date:"YdmHis" result.modified|date:"YdmHis" %}
                    &nbsp;&nbsp;&nbsp;
                    изменено <em>{{ result.modified|date:"d.m.Y H:i:s" }}</em>
                {% endifnotequal %}
                </small>
            </p>
        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="span10">
            <p>
                {{ result.comment|safe }}
            </p>
        </div>
    </div>
{% endblock content %}