{% extends "base.html" %}
{% load widget_tweaks %}
{% load keytags %}
{% block title %}Редактирование лицензии{% endblock %}

{% block content %}
    <h1>Редактирование данных о лицензии</h1>
    <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}{{ form.management_form }}

        <div class="control-group{{ form.name.error|errorcss }}">
            <label class="control-label" for="id_name">{{ form.name.label }}</label>
            <div class="controls">
                {{ form.name|add_class:"span3"}} 
                {{ form.name.errors|lower }}
            <p class="help-block">{{ form.name.help_text }}</p>
            </div>
        </div>
        <div class="control-group{{ form.url.error|errorcss }}">
            <label class="control-label" for="id_url">{{ form.url.label }}</label>
            <div class="controls">
                {{ form.url|add_class:"span3"}} 
                {{ form.url.errors|lower }}
            <p class="help-block">{{ form.url.help_text }}</p>
            </div>
        </div>
        <div class="control-group{{ form.attach.error|errorcss }}">
            <label class="control-label" for="id_attach">{{ form.attach.label }}</label>
            <div class="controls">
                {{ form.attach}}
                {{ form.attach.errors|lower }}
            <p class="help-block">{{ form.attach.help_text }}</p>
            </div>
        </div>   
        <div class="control-group">
            <label class="control-label" for="id_free">{{ form.free.label }}</label>
            <div class="controls">
                <label class="checkbox">
                    {{ form.free}} 
                    {{ form.free.help_text }}
                </label>
                {{ form.attach.errors|lower }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_comment">{{ form.comment.label }}</label>
            <div class="controls">
                {{ form.comment|add_class:"input-xlarge" }}
            </div>
        </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <button class="btn">Отменить</button>
    </div>
{% endblock content %}