{% extends "base.html" %}
{% load keytags %}
{% block title %}данные пользователя{% endblock %}

{% block content %}
  <h1>Данные пользователя</h1>
  <br>
  <form class="form-horizontal" method="POST" action="">
    {% csrf_token %}{{ form.management_form }}
    <div class="control-group{{ form.first_name.errors|errorcss }}">
      <label class="control-label" for="id_first_name">{{ form.first_name.label }}</label>
      <div class="controls">
        {{ form.first_name }}
        <span class="help-inline">{{ form.first_name.errors|lower }}</span>
      </div>
    </div>
    <div class="control-group{{ form.last_name.errors|errorcss }}">
      <label class="control-label" for="id_last_name">{{ form.last_name.label }}</label>
      <div class="controls">
        {{ form.last_name }}
        <span class="help-inline">{{ form.last_name.errors|lower }}</span>
      </div>
    </div>
    <div class="control-group{{ form.email.errors|errorcss }}">
      <label class="control-label" for="id_email">{{ form.email.label }}</label>
      <div class="controls">
        {{ form.email }}
        <span class="help-inline">{{ form.email.errors|lower }}</span>
        <p class="help-block">{{ form.email.help_text|lower }}</p>
      </div>
    </div>
    <div class="control-group{{ form.password.errors|errorcss }}">
      <label class="control-label" for="id_password">{{ form.password.label }}*</label>
      <div class="controls">
        {{ form.password }}
        <span class="help-inline">{{ form.password.errors|lower }}</span>
        <p class="help-block">{{ form.password.help_text|lower }}</p>
      </div>
    </div>
    <div class="control-group{{ form.password1.errors|errorcss }}">
      <label class="control-label" for="id_password1">{{ form.password1.label }}*</label>
      <div class="controls">
        {{ form.password1 }}
        <span class="help-inline">{{ form.password1.errors|lower }}</span>
        <p class="help-block">{{ form.password1.help_text|lower }}</p>
      </div>
    </div>
    <div class="control-group{{ form.password2.errors|errorcss }}">
      <label class="control-label" for="id_password2">{{ form.password2.label }}*</label>
      <div class="controls">
        {{ form.password2 }}
        <span class="help-inline">{{ form.password2.errors|lower }}</span>
        <p class="help-block">{{ form.password2.help_text|lower }}</p>
      </div>
    </div>
    <p>
      <strong>*</strong><small>заполните эти поля, если хотите изменить пароль</small>
    </p>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <button class="btn" type="reset">Отменить</button>
    </div>
  </form>
{% endblock content %}